INFLUXDB_URL="https://deine-influxdb.example"
INFLUXDB_ORG="deine-org"
INFLUXDB_BUCKET="dein-bucket"
INFLUXDB_TOKEN="dein-token"

CLOUDFLARE_API_KEY="dein-api-key"
CLOUDFLARE_ZONE="deine-zone-id"
CLOUDFLARE_EMAIL="deine-email"